@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-brand: #ff7230;
}

body {
  @apply bg-white;
  font-size: 16px;
  line-height: 1.32;
  text-rendering: geometricPrecision;
}

* {
  box-sizing: border-box;
}

@layer components {
  .btn {
    @apply cursor-pointer max-w-xs rounded-3xl px-6 py-3.5 text-sm block text-center font-bold tracking-wider text-white uppercase shadow-lg transition duration-200 ease-out hover:scale-105 focus:outline-none focus:ring-2 focus:ring-brand focus:ring-offset-2;
  }

  .btn-primary {
    @apply bg-brand text-white;
  }
  .btn-secondary {
    @apply bg-gray-600 text-white ;
  }
}
